.video-container {
    width: 96%;

    background-color: #c6c2c2;
    padding: 32px;
    text-align: center;
  }
  
  .video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 5%; /* 16:9 aspect ratio for video */
  }
  
  .video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .play-button {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #0088ff; /* Stylish play button background color */
    border-radius: 50%; /* Rounded shape */
    border-color: #fff;
    margin: auto;
  }
  
  .experience-title {
    margin-top: 2px;
  }
  
  .content {
    margin-bottom: 16px;
  }
  
  .watch-more-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .watch-more-button:hover {
    background-color: #0056b3; /* Button background color on hover */
  }
  